.block_newsletter {
  @include search-box();


  #block-newsletter-label {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    color: $gray-darker;
  }

  form {    
    .input-wrapper {
      overflow: hidden;
    }
  }

  .small p {
    color: $gray-second;
  }

    input[type="email"] {
      width: 100%;
      padding: 11px;
      border: 3px solid $border-gray;

      &:focus {
        padding: 8px 8px 9px;
        border: 3px $brand-primary solid;
        outline: 0;
      }
    }

    input {
      height: 42px;
      box-shadow: none;
    }
  }


#footer {
  .block_newsletter {
    p {
      padding-top: $small-space;
    }

    #block-newsletter-label {
      padding-top: 0;
    }

    .input-wrapper input::placeholder {
        color: $gray-darker
    }

  }
}

#left-column {
  .block_newsletter {
    padding: 1.563rem 1.25rem;
    margin-bottom: 1.563rem;
  }
}

@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-top: 1rem;
  }
}
